<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include('../partials/sidebar.ejs'); %>
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <%- include('../partials/topbar.ejs'); %>
          <main class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card bg-white p-3 rounded shadow">
                  <h2 class="fw-bold mb-4">Update Product</h2>
                  <form
                    id="updateProductForm"
                    enctype="multipart/form-data"
                    method="POST"
                  >
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label" for="productName">Product Name</label>
                          <input
                            type="text"
                            value="<%= data.name %>"
                            id="productName"
                            class="form-control"
                            name="LOVE"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label" for="price">Price €</label>
                          <input
                            type="number"
                            value="<%= data.unitPrice %>"
                            name="<%= data.unitPrice %>"
                            id="price"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label" for="discount">Discount €</label>
                          <input
                            type="number"
                            value="<%= data.discount %>"
                            name="<%= data.discount %>"
                            id="discount"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label class="form-label" for="category">Category</label>
                          <select id="category" class="form-control">
                                <option value="pizza" <% if (data.category === 'pizza') { %> selected <% } %>>Pizza</option>
                                <option value="burger" <% if (data.category === 'burger') { %> selected <% } %>>Burger</option>
                                <option value="fries" <% if (data.category === 'fries') { %> selected <% } %>>Fries</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Image</label>
                          <input
                            class="form-control"
                            value="<%= data.imageUrl %>"
                            name="<%= data.imageUrl %>"
                            type="file"
                            id="formFile"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label
                            class="form-label"
                            value="<%= data.size %>"
                            name="<%= data.size %>"
                            for="size"
                            >Size</label
                          >
                          <select id="size" class="form-control">
                                <option value="sm" <% if (data.size === 'sm') { %> selected <% } %>>Small</option>
                                <option value="md" <% if (data.size === 'md') { %> selected <% } %>>Medium</option>
                                <option value="lg" <% if (data.size === 'lg') { %> selected <% } %>>Large</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="mb-3">
                          <label class="form-label" for="description">Description</label>
                          <textarea
                            name="<%= data.unitPrice %>"
                            id="description"
                            cols="30"
                            rows="10"
                            class="form-control"
                          > <%= data.description %></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <input
                            type="submit"
                            value="Update Product"
                            class="btn btn-primary"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </main>
        </div>
        <%- include('../partials/footer.ejs'); %>
      </div>
    </div>
    <%- include('../partials/scripts.ejs'); %>
    <script></script>
  </body>
</html>
